<div id="question">
  <h3>
  {{#link-to 'question' question.id}}
    {{question.content}}
  {{/link-to}}
  {{most-answers question}}
</h3>

  <p><em>By: </em><strong>{{question.author}}</strong></p>
  <p><em>Answers: </em><strong>{{answerCount}}</strong></p>
</div>
