h1 {
  font-family: 'Shrikhand', cursive;
}

h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

h5 {
  font-weight: bold;
}

p {
  font-size: 12pt;
}

body {
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  text-align: center;
}

.welcome {
  text-align: justify;
  margin: 0 auto;
  width: 100%;
}

.troll-icon {
  height: 2.5em;
}

.troll-icon:hover {
  height: 2.75em;
}

.head-troll {
  height: 2em;
}

.head-troll:hover {
  height: 2.25em;
}

.glyphicon-fire {
  color: #ed4209;
}

.glyphicon-fire:hover {
  font-size: 1.4em;
}

.vote-button {
  background:rgba(255,255,255,0);
  font-weight: bolder;
  font-size: 12pt;
}

.vote-button:hover {
  font-size: 14pt;
}

.question-answers {
  text-align: justify;
  margin: 0 auto;
  width: 50em;
}

.center-text {
  text-align: center;
}

.new-button {
  font-size: 16pt;
}

.new-button:hover {
  font-size: 19pt;
  color: #F016D6;
}

.emphasis {
  font-weight: bolder;
}

#upvote-button:hover {
  color: #05AB26;
}

#downvote-button:hover {
  color: #ed4209;
}

#answer-head {
  text-align: center;
}

#question-body {
  padding: 2em;
  text-align: center;
}

#fave-button:hover {
  color: #9F0DBD;
}

#trash-button:hover {
  color: #ed4209;
}

#update-button:hover {
  color: #0495D4;
}
