<div class="container">
  <header>
    <div class="jumbotron">
      {{#link-to 'index'}}
        <h1>Q2A</h1>
      {{/link-to}}
      <h3><em>Your questions, answered</em></h3>
    </div>
  </header>

  <body>
    {{outlet}}
  </body>
</div>
