<div class="welcome">
  <h1 class="center-text">Welcome to Q2A Question & Answer Board</h1>
  <h4>Browse the questions posted below, answer a question, or post your own. Popular questions are designated with a <span class="glyphicon glyphicon-fire"></span> (flame) icon next to them. Questions are rated 1-5 by answerers, and may be selected as favorites by any user.
  <br>
  Users may up or down-vote answers that they like or dislike, and highly unpopular answers are designated with a <span><img class="head-troll" src="https://cdn2.iconfinder.com/data/icons/identificon/96/troll-512.png"></span> (troll) icon.
  <br>
  Have fun, and remember: nobody likes trolls!
  </h4>
</div>

<hr>
<div class="row">
  <div class="col-md-6">
    <div class="inner-div well">
      <h2>All Questions</h2>
      {{#each model.questions as |question|}}
        {{question-tile question=question}}
      {{/each}}
    </div>
  </div>
  <div class="col-md-6">
    <div class="inner-div well">
      {{display-favorites}}
    </div>
    <div class="inner-div well">
      {{new-question saveQuestion2="saveQuestion3"}}
    </div>
  </div>
</div>
