<h1>Welcome to Q2A question & answer board</h1>
<h4>Browse the questions posted below, answer a question, or post your own.</h4>

{{new-question saveQuestion2="saveQuestion3"}}

<h3>Questions</h3>
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
