<h1>Welcome to Q2A question & answer board</h1>
<h4>Browse the questions posted below, answer a question, or post your own.</h4>

<ul>
  {{#each model as |question|}}
    <li>{{question.content}}</li>
  {{/each}}
</ul>
