<h1>Welcome to Q2A question & answer board</h1>
<h4>Browse the questions posted below, answer a question, or post your own.</h4>

{{new-question saveQuestion2="saveQuestion3"}}

<ul>
  {{#each model as |question|}}
    {{#link-to 'question' question.id}}
    <li>
      {{question.author}} asked: 
      {{question.content}}
    </li>
    {{/link-to}}
  {{/each}}
</ul>
